.background-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px;
}
.header-card {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
  background-color: #2c0e3a;
  align-self: stretch;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  margin: 0px;
}
.score-time-header-card {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}
.match-logo-image-style {
  width: 200px;
}
@media screen and (max-width: 576px) {
  .match-logo-image-style {
    width: 100px;
  }
}
.time-left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.timer-logo {
  height: 35px;
}
.score-heading-style {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 20px;
}
.score-style {
  color: #fec653;
  font-size: 28px;
}
.timer-style {
  color: #fec653;
  font-size: 28px;
  font-weight: 500;
  margin-left: 10px;
}
.below-header-section {
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  .below-header-section {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.displayed-picture {
  width: 680px;
  align-self: center;
}
@media screen and (max-width: 576px) {
  .displayed-picture {
    width: 100%;
  }
}
.tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 450px;
  margin-top: 25px;
}

.tab-items-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15px;
  flex-wrap: wrap;
  width: 680px;
}
@media screen and (max-width: 576px) {
  .tab-items-container {
    width: 100%;
  }
}

ul {
  padding-left: 0px;
}
